<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
	<!-- 根据用户名（模糊查询）和角色id查询用户列表 -->
	<select id="getUserListByNameAndRoleId" resultType="User" parameterType="User">
		select * from smbms_user 
			where userName like CONCAT('%',#{userName},'%') 
			and userRole=#{userRole}
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="User">
		insert into smbms_user (userCode,userName,userPassword,gender,
                birthday,phone,address,userRole,createdBy,creationDate) 
        values (#{userCode},#{userName},#{userPassword},#{gender},
                #{birthday},#{phone},#{address},#{userRole},
                #{createdBy},#{creationDate})
	</insert>
</mapper>